<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">

        <h1>About Chris Bumstead</h1>
        <article>Christopher Adam Bumstead (born 2 February 1995) is a Canadian IFBB professional bodybuilder.
             Bumstead is the reigning Mr. Olympia Classic Physique winner, having won the competition in 2019, 2020 and 2021.
              He was also the runner-up in 2017 and 2018. Often referred to by his nicknames, 
            "CBum" Bumstead maintains a large online presence with content focusing on his lifestyle and bodybuilding.</article>
        <article>
            Bumstead was born and raised in Canada's administrative capital city of Ottawa, Ontario. Growing up, he was involved in
             multiple sports such as football, baseball, basketball, and hockey in high school. He started weightlifting at
              the age of 14, and between the ninth and twelfth grade, he went from 170 to 225 pounds, growing his legs 
              the most. After building what he thought was a good physique,
             Bumstead met his sister's boyfriend, professional bodybuilder Iain Valliere, who has coached him since.
        </article>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>